<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 32px;">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="layoutmode" content="standard"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="renderer" content="webkit"/>
    <meta name="wap-font-scale" content="no"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/base.min.css}" />
    <link rel="stylesheet" th:href="@{/css/produce.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body id="g_body">
    <div class="g_web">
        <div class="mallThemeTopBar">
            <div class="logoTitleSide">
                <div class="logoArea">
                    <span class="pageLogo" id="pageLogoMall" sid="0" pw="164" ph="164">
                        <a alt="" href="/" hidefocus="true">
                            <div id="pageLogoImgMall" class="logoImg"></div>
                        </a>
                    </span>
                </div>
                <div class="titleArea">
                    <h1 style="font-weight:normal; font-size: inherit; display: inline-block;">
                        <a alt="" href="/" hidefocus="true">
                            <span class="pageTitle" id="pageTitleMall">昆明蜜儿烘焙</span>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="toolMenuSide">
                <div class="userEnterAera">
                    <a href="profile.jsp" hidefocus="true" class="userEnterLink">
                        <span class="userEnterIcon icon-userEnterIcon"></span>
                        <span class="userEnterText">会员中心</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>