@charset "utf-8";
#detail img{
    width:100%;
}
.td1{
    border-bottom:0.08rem solid #d2d2d2;
}
.td2{
    text-align: center;
    border-bottom:0.08rem solid #FCC600;
    color: #eea236;
}
.td3{
    cursor:pointer;
    text-align: center;
}
.img1{
    width: 3rem;
    height: 3rem;
    border-radius:20px;
}
.td4{
    height: 4rem;
    text-align: center;
}
.tr1{
    border-bottom:0.05rem solid #EDEDED;
}
.div1{
    color: #fcc600;
    font-size: 0.55rem;
}
.div2{
    height: 0.5rem;
    background-color: #F7F7F7;
    border-bottom:0.05rem solid #EDEDED;
    border-top:0.05rem dashed #EDEDED;
}
.div3{
    height: 0.8rem;
    background-color: #F7F7F7;
    text-align: center;
    color: #a9a9a9;
    font-size: 12px;
    line-height: 0.8rem;
}

div.active{position: fixed;bottom: 10px;z-index: 100;margin: 0 auto;_position: absolute;text-align: center;width:100%;max-width: 512px;}
.td5{
    background-color: #66512c;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: white;
    font-size: 0.3rem;
}
.td6{
    background-color: sandybrown;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    font-size: 0.4rem;
    cursor:pointer;
    text-align: center;
}
.table1{
    width: 80%;
    height: 1rem;
    cursor:pointer;
    margin: 0 auto;
}
.div4{
    position: fixed;bottom: 0px;z-index: 200;margin: 0 auto;_position: absolute;max-width:512px;height: 12rem; background-color: white;
    width: 100%;
    display: none ;
    border-top:0.01rem solid #d2d2d2;
}
.img2{
    position:absolute;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    top: -15px;
    box-shadow: 1px 1px 5px 5px white;
    border:0.08rem solid #EDEDED;
}
.tr2{
    border-bottom:0.05rem solid #EDEDED;
}
.div5{
    margin-top: 0.1rem;
    min-height: 3.5rem;
    max-height: 5rem;
    border-bottom:0.03rem solid #EDEDED;
}
.div5 div{
    border:0.03rem solid #C4C4C4;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    color: #6E6E6E;
    width: 2.5rem;
    float: left;
    margin-left: 0.6rem;
    margin-top: 0.2rem;
    text-align: center;
    height: 0.9rem;
    line-height:0.9rem;
    border-radius: 1rem;
}
.table2{
    float: left;
    margin-left: 5rem;
    width: 4rem;
}
.table2,.table2 tr th, .table2 tr td {
    border:0.05rem solid #EDEDED;
}
.table2 tr td{
    text-align: center;
}
.div6{
    margin-top: 0.5rem;
    border-bottom:0.03rem solid #EDEDED;
    height: 2rem;
}

.div7{
    height: 2rem;
    line-height: 2rem;
}
.btn1{
    margin-left: 0.6rem;
    background-color: #eea236;
    color:white;
    border: none;
    font-size: 0.5rem;
    width: 4rem;
    height: 1.1rem;
    margin-left: 0.6rem;
}
.span1{
    height: 3rem;
    color: white;
    margin-left: 1rem;
}
.img3{
    width: 3rem;
    height: 3rem;
    margin-left: 0.2rem;
}
.div8{
    margin-top: 0.3rem;
    border-bottom: 0.03rem solid #EDEDED;
    height: 3.5rem;
}
.table3{
    float: right;
    margin-right: 0.6rem;
    width: 4rem;
}
.table3,.table3 tr th, .table3 tr td {
    border:0.05rem solid #EDEDED;
}
.table3 tr td{
    text-align: center;
}
.div9{
    margin-top: 0.2rem;
    border-bottom: 0.03rem solid #EDEDED;
    height: 1.2rem;
}
.btn2{
    background-color: #eea236;
    margin-top: 0.8rem;
    width: 90%;
    border-radius: 0.1rem;
    border: none;
    color: white;
    font-size: 0.5rem;
    height: 1rem;
}
#warning{
    position: fixed;bottom: 500px;z-index: 1000;margin: 0 auto;_position: absolute;text-align: center;width:5rem;height: 1rem;
    font-size: 0.5rem;
}
.div10{
    background-image: url("/img/produce/background/1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1.2rem;
}

